
<header class="hero-unit" id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      Bar app</div>
      <div class="col-md-4">
      See how many people will be there tonight</div>
      <div class="col-md-3">
        <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
          <i class="fa fa-twitter"></i> Connect with Twitter
        </a>
    </div>
    <div class="input-group">
      <input type="text"
             ng-model="someTerm"
             class="form-control"
             placeholder="Search city or place"
             typeahead="place.name for place in autocomplete($viewValue)"
             typeahead-on-select="onSelectAutocomplete($item, $model, $label)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" name="button" ng-click="getLocation()">Use Location</button>
      </span>
    </div>
  </div>
</header>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="place in listData">
      {{place.name}}
      <span class="pull-right">
        <span class="badge">{{place.going}} going</span>
        <button class="btn btn-xs btn-default" ng-click="postAsGoing(place.place_id, $index)">Lets go!</button>
      </span>
    </li>
  </ul>
</div>

<footer class="footer">
  <div class="container">
      <p>Andrew VanVlack - 2015 |
        <a href="https://twitter.com/avanvlack">@AVanVlack</a> |
         <a href="https://github.com/AVanVlack/coordination/issues?state=open">Issues</a></p>
  </div>
</footer>
