
<header class="hero-unit" id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      Bar app</div>
      <div class="col-md-4">
      See how many people will be there tonight</div>
      <div class="col-md-3">
      Sign In</div>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" id="" placeholder="Search city or place">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" name="button" ng-click="getLocation()">Use Location</button>
      </span>
    </div>
  </div>
</header>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="place in listData.results">
      {{place.name}}
      <span class="badge">14 going</span>
    </li>
  </ul>
</div>

<footer class="footer">
  <div class="container">
      <p>Andrew VanVlack - 2015 |
        <a href="https://twitter.com/avanvlack">@AVanVlack</a> |
         <a href="https://github.com/AVanVlack/coordination/issues?state=open">Issues</a></p>
  </div>
</footer>
